<html ng-app="Lista">
<head>
<style>
.jumbotron{
	text-align:center;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}

.form-control{
	margin-bottom: 5px;
}

.selecionado{
	background-color: blue;
}
</style>
<script src="lib/angular/angular.js"></script>

<!-- Última versão CSS compilada e minificada -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Tema opcional -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">


<script>
	angular.module("Lista", []);
	angular.module("Lista").controller("ListaCtr", function($scope){
		$scope.message = "HelloWord";
		$scope.contatos = [
			{nome: "Pedro", telefone: "12121212", cor:"blue"},
			{nome: "maria", telefone: "12312312",  cor:"black"}
		];

		$scope.operadoras = [
			{nome: "Oi", codigo: "14"},
			{nome: "Vivo", codigo: "41"},
			{nome: "Tim", codigo: "11"}

		];
		$scope.adicionarContato = function (contato){
				$scope.contatos.push(angular.copy(contato));
				delete $scope.contato
		}
		$scope.apagarContatos = function(contatos){
			$scope.contatos = contatos.filter(function(contato){
				if(!contato.selecionado) return contato;

			});
			
		}
	});


</script>
</head>

<body ng-controller="ListaCtr">
	
	<div class="jumbotron">
		<h4>Teste Lista</h4>


		<table class="table">
		<tr>
			<th></th>
			<th> Nome</th>
			<th> Telefone </th>
			<th> Operadora </th>
			<th></th>
		</tr>
		<tr ng-repeat="contato in contatos" ng-class="{selecionado: contato.selecionado}">
			<td><input type="checkbox" name="selecionado" ng-model="contato.selecionado"></td>
			<td>{{contato.nome}}</td>
			<td>{{contato.telefone}}</td>
			<td>{{contato.operadora.nome}}</td>
			<td><div style="height: 20px; width: 20px;" ng-style="{'background-color': contato.cor}"></div></td>
		</tr>
		</tr>
		</table>
		<form name="formContatos" >
		<input type="text" ng-model="contato.nome" name="nome" ng-required="true" class="form-control"  >
		<input type="text" ng-model="contato.telefone" name="telefone" ng-required="true"  class="form-control">
		
		<select ng-model="contato.operadora" name="operadoras" ng-options="operadora.nome for operadora in operadoras" ng-required="true" class="form-control"> 
			<option value="">Selecione uma operadora</option>
		</select>

		<div ng-show="formContatos.nome.$error.required && formContatos.nome.$dirty" class="alert alert-danger">
			<p>Nome não pode ser vazio</p>
		</div>
		
		<div ng-show="formContatos.telefone.$error.required && formContatos.telefone.$dirty"  class="alert alert-danger">
			<p>Telefone não pode ser vazio</p>
		</div>
		
		<div ng-show="formContatos.operadoras.$error.required && formContatos.operadoras.$dirty" class="alert alert-danger">
			<p>Operadora não pode ser vazio</p>
		</div>


		<button ng-click="adicionarContato(contato)" class="btn btn-primary btn-block" ng-disabled="formContatos.$invalid"> Cadastrar</button>
		
		<button ng-click="apagarContatos(contatos)" class="btn btn-danger btn-block" > Cadastrar</button>
		</form>
	</div>

</body>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</html>
